.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 10;
    left: 0;
    top: 0;
    background-color: rgb(0,0,0); /* Black fallback color */
    background-color: rgba(0,0,0, 0.9); /* Black w/opacity */
    overflow-x: hidden; /* Disable horizontal scroll */
}

.overlay-content {
    position: relative;
    color: #fff;
    top: 25%;
    width: 20%;
    margin-top: 10px;
    margin-right: auto;
    margin-left: auto;
}

.content-wrapper {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.messageBox {
    height: 490px;
    overflow-x: hidden;
    overflow-y: scroll;
}

.video {
    width: 90%;
    height: 100px;
    border: 1px solid #ccc;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    margin-bottom: 15px;
}

.video-img {
    display: inline-block;
    height: 90px;
    width: 90px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.video-title {
    display: inline-block;
    width: 60%;
    font-size: 12px;
    font-weight: bold;
    vertical-align: top;
}

.vidControls {
    background-color: #101010;
    border-radius: 0 0 5px 5px;
    color: #fff;
}

.vidControlgrp-right {
    float: right;
}

.vidSettings {
    position: absolute;
    top: auto;
    bottom: 100%;
    z-index: 5;
    background-color: #fff;
}

.vidSettings ul {
    text-decoration: none;
    list-style-type: none;
    padding: 0px;
}

.vidQualList li {
    padding: 5px;
}

.vidQual {
    color: #000;
    padding: 5px;
    text-align: center;
    cursor: pointer;
}
}
.vidQual:hover {
    color: #bbb;
}

#videovolume {
    display: inline-block;
    width: 100px;
    vertical-align: middle;
    cursor: pointer;
}

#videotime{
    display: inline-block;
    width: 140px;
}

#playlist-history {
    border: 1px solid #ccc;
    overflow: hidden;
}

#playlistTab {
    height: 490px;
    overflow-x: hidden;
    overflow-y: scroll;
}

#historyTab {
    height: 490px;
    overflow-x: hidden;
    overflow-y: scroll;
}

#search-results {
    height: 490px;
    width: 100%;
    border: 1px solid #ccc;
}

footer {
    margin-top: 100px;
}
