<!DOCTYPE HTML>
<html>
<head>
    <title>Oskar Mendel Watch</title>
    <script
              src="https://code.jquery.com/jquery-3.1.0.min.js"
              integrity="sha256-cCueBR6CsyA4/9szpPfrX3s49M9vUU5BgtiJj06wt/s="
              crossorigin="anonymous"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.5/socket.io.min.js"></script>
    <script type="text/javascript" src="{{url_for('static', filename='swfobject.js')}}"></script>
    <script type="text/javascript" src="{{url_for('static', filename='main.js')}}"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='stylesheet.css')}}"
</head>
<body>

<div id="usernameSelector" class="overlay">
<!-- Overlay when website starts that forces u to select an username -->
    <div class="overlay-content">
        <h1>Select an Username:</h1>
        <form id="setusername" method="POST" action='#'>
        <div class="input-group">
            <input type="text" name="username" id="username" class="form-control" placeholder="Username">
            <span class="input-group-btn">
                <button class="btn btn-default" type="submit">Lets Watch!</button>
            </span>
        </div>
        </form>
    </div>

</div>

    <nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Oskar Mendel's Watch</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">Watch <span class="sr-only">(current)</span></a></li>
            <li><a href="http://www.oskarmendel.me/">Back to homepage</a></li>
          </ul>
          <form class="navbar-form navbar-left">
            <div class="form-group">
              <input type="text" class="form-control" placeholder="Search">
            </div>
            <button type="submit" class="btn btn-default">Submit</button>
          </form>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>

    <div class="content-wrapper">
        <h1>Greetings, Traveler!</h1>
        <p>Async mode is: <b>{{ async_mode }}</b></p>
        <p>Average ping/latency: <b><span id="ping-pong"></span>ms</b></p>

        <div class="row">
            <div class="col-md-6">
                <div class="vidContainer">
                    <div class="embed-responsive embed-responsive-4by3">
                        <div id="player"></div>
                    </div>
                    <div class="vidControls">
                    <form id="videoplaypause" method="POST" action='#'>
                          <span class="input-group" style="width:100%;">
                            <button class="btn btn-default" type="submit">
                                <span class="glyphicon glyphicon-play"></span>
                            </button>
                            <input id="videovolume" type="range" min="0" max="100" step="1"/>
                            <p id="videotime">
                                <span id="videocurrenttime">0:00</span>/<span id="videototaltime">0:00</span>
                            </p>
                            <div class="vidControlgrp-right">
                                <div class="btn-group dropup">
                                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <span class="sr-only">Toggle Dropdown</span>
                                        <span class="glyphicon glyphicon-cog"></span>
                                    </button>
                                    <ul id="vidQualList" class="dropdown-menu vidQualList">
                                        <li><a href="#">Source</a></li>
                                    </ul>
                                </div>
                                <button id="videofullscreen" class="btn btn-default" type="button">
                                    <span class="glyphicon glyphicon-fullscreen"></span>
                                </button>
                            </div>
                          </span>
                    </form>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="chatWindow">
                    <div class="messageBox">
                        <h2>Receive:</h2>
                        <div id="log"></div>
                    </div>
                    <form id="broadcast" method="POST" action='#'>
                    <div class="input-group">
                      <input type="text" name="broadcast_data" id="broadcast_data" class="form-control" placeholder="Message">
                      <span class="input-group-btn">
                        <button class="btn btn-default" type="submit">Send!</button>
                      </span>
                    </div><!-- /input-group -->
                </form>
                </div>
            </div>
        </div>
        <!--<div class="row">
            <div class="col-md-4">
            </div>
        </div>-->
        <div class="row" style="margin-top: 20px;">
            <div class="col-md-4">
                <div id="playlist-history">
                    <ul class="nav nav-tabs">
                        <li class="active"><a data-toggle="tab" href="#playlistTab">
                            Playlist
                            <span class="glyphicon glyphicon-list-alt"></span>
                        </a></li>
                        <li><a data-toggle="tab" href="#historyTab">
                            History
                            <span class="glyphicon glyphicon-repeat"></span>
                        </a></li>
                    </ul>
                    <div class="tab-content">
                        <div id="playlistTab" class="tab-pane fade in active">
                            <h3>HOME</h3>
                            <p>Some content.</p>
                        </div>
                         <div id="historyTab" class="tab-pane fade">
                            <h3>Menu 1</h3>
                            <p>Some content in menu 1.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-8">
                <form id="ytube" action="#" method="POST">
                    <div class="input-group">
                        <input type="text" name="thelink" id="thelink" class="form-control" placeholder="YouTube Link">
                          <span class="input-group-btn">
                            <button class="btn btn-default" type="submit">Submit!</button>
                          </span>
                    </div><!-- /input-group -->
                </form>
            </div>
        </div>
    </div>
    <footer>

    </footer>
   <!-- <h1>Flask-SocketIO Test</h1>
    <p>Async mode is: <b>{{ async_mode }}</b></p>
    <p>Average ping/pong latency: <b><span id="ping-pong"></span>ms</b></p>
    <h2>Send:</h2>
    <form id="emit" method="POST" action='#'>
        <input type="text" name="emit_data" id="emit_data" placeholder="Message">
        <input type="submit" value="Echo">
    </form>
    <form id="broadcast" method="POST" action='#'>
        <input type="text" name="broadcast_data" id="broadcast_data" placeholder="Message">
        <input type="submit" value="Broadcast">
    </form>
    <form id="join" method="POST" action='#'>
        <input type="text" name="join_room" id="join_room" placeholder="Room Name">
        <input type="submit" value="Join Room">
    </form>
    <form id="leave" method="POST" action='#'>
        <input type="text" name="leave_room" id="leave_room" placeholder="Room Name">
        <input type="submit" value="Leave Room">
    </form>
    <form id="send_room" method="POST" action='#'>
        <input type="text" name="room_name" id="room_name" placeholder="Room Name">
        <input type="text" name="room_data" id="room_data" placeholder="Message">
        <input type="submit" value="Send to Room">
    </form>
    <form id="close" method="POST" action="#">
        <input type="text" name="close_room" id="close_room" placeholder="Room Name">
        <input type="submit" value="Close Room">
    </form>
    <form id="disconnect" method="POST" action="#">
        <input type="submit" value="Disconnect">
    </form>
    <h2>Receive:</h2>
    <div id="log"></div>-->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
</html>
